.btn {
    margin: 50px;
}

.btn button{
background-color: #0c70f2;
color: aliceblue;
width: 250px;
height: 35px;
border: none;
border-radius: 10px;
cursor: pointer;
font-weight: bolder;
}

.btn button:hover{
    background-color: #00d6ed;
    transition-duration: 0.5s;
}